.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 20rem;
  overflow: auto;
}


.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #8a2b06;
  padding: 2rem 0;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distributes space between elements */
  width: 4rem;
  /* Adjust this width as needed for even spacing */
}

.cart-item-actions button {
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  color: #8a2b06;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.cart-item-actions span {
  font-weight: bold;
  text-align: center;
  width: 5rem;
  /* Adjust width as needed to fit the quantity text */
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}



.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}